#funcArea {
    -fx-background-color: linear-gradient(rgb(34, 105, 27) 0%, rgb(72, 143, 39) 20%, rgb(34, 105, 27) 100%);
}


.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: linear-gradient(rgb(34, 105, 27), rgb(72, 143, 39) 20%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 50, 50, 50, 50);
}

.circle-button {
    -fx-background-radius: 5em;
    -fx-background-color: rgb(136, 136, 136);
    -fx-border-width: 2px;
    -fx-border-color: rgb(6, 20, 5);
    -fx-border-style: solid;
    -fx-border-radius: 30px;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}
.circle-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-rotate: 5;
}
.info-text {
    -fx-font-size: 25px;
}
#meshBackground {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
    -fx-background-size: 1200 900;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 5;
    -fx-border-color: transparent;
}